/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 200;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 300;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 400;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 500;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 700;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 800;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 900;
  font-style: normal;
  src:
    local('DINNextLTArabic'),
    url('/fonts/DINNextLTArabic-Black.ttf') format('truetype');
}
